.play-pause {
    background-color: #ca3e3e;
    border: solid 1px #ca3e3e;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 49%;
    width: 25%;
}